<hr>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 25rem;">
        <div class="card-header text-center">
          Not yet started
        </div>
        <% @list_of_tasks.where(status: "not yet started").each do |a_task| %>
          <ul class="list-group list-group-flush">
            <a href="/tasks/<%= a_task.id %>">
              <li class="list-group-item"><%= a_task.body %>
              </a>
              <div>Added <%= a_task.time_ago %> days ago</div>
              <td class="float-right"><%= button_to 'Start', {:controller => "tasks", :action => "update_status", id: a_task.id, status: Task::Status::IN_PROGRESS }, method: :post %></td>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 25rem;">
        <div class="card-header text-center">
          In progress
        </div>
        <% @list_of_tasks.where(status: "in progress").each do |a_task| %>
          <ul class="list-group list-group-flush">
            <a href="/tasks/<%= a_task.id %>">
              <li class="list-group-item"><%= a_task.body %>
              </a>
              <div>Added <%= a_task.time_ago %> days ago</div>
              <td><%= button_to 'Done', controller: "tasks", action: "update_status", id: a_task.id, status: Task::Status::COMPLETED, method: :post, style: "float: right;" %></td>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 25rem;">
        <div class="card-header text-center">
          Completed
        </div>
        <% @list_of_tasks.where(status: "completed").each do |a_task| %>
          <ul class="list-group list-group-flush">
            <a href="/tasks/<%= a_task.id %>">
              <li class="list-group-item"><%= a_task.body %>
              </a>
              <div>Added <%= a_task.time_ago %> days ago</div>
              <td><%= button_to 'Remove', {:controller => "tasks", :action => "destroy", id: a_task.id, status: Task::Status::COMPLETED } %></td>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div>
  <div>
    <h1>
      List of all tasks
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h5>
      Add a new task
    </h5>

    <form action="/insert_task" method="post">
      <div>
        <textarea id="body_box" name="query_body" rows="3"></textarea>
      </div>

      <button>
        Create task
      </button>
    </form>
  </div>
</div>
