<hr>

<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 25rem;">
        <div class="card-header">
          Not yet started
        </div>
        <% @list_of_tasks.where(status: "not yet started").each do |a_task| %>
          <ul class="list-group list-group-flush">
            <a href="/tasks/<%= a_task.id %>">
              <li class="list-group-item"><%= a_task.body %>
              </a>
              <a href="/modify_task/<%= a_task.id %>"><button>Start</button></a>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 25rem;">
        <div class="card-header">
          In progress
        </div>
        <% @list_of_tasks.where(status: "in progress").each do |a_task| %>
          <ul class="list-group list-group-flush">
            <a href="/tasks/<%= a_task.id %>">
              <li class="list-group-item"><%= a_task.body %>
              </a>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 25rem;">
        <div class="card-header">
          Completed
        </div>
        <% @list_of_tasks.where(status: "completed").each do |a_task| %>
          <ul class="list-group list-group-flush">
            <a href="/tasks/<%= a_task.id %>">
              <li class="list-group-item"><%= a_task.body %>
              </a>
              <a href="/delete_task/<%= @the_task %>"><button>Delete</button></a>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div>
  <div>
    <h1>
      List of all tasks
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h5>
      Add a new task
    </h5>

    <form action="/insert_task" method="post">
      <div>
        <textarea id="body_box" name="query_body" rows="3"></textarea>
      </div>

      <button>
        Create task
      </button>
    </form>
  </div>
</div>
