<div>
  <div>
    <a href="/tasks">
      Go back
    </a>
  </div>

  <div>
    <a href="/delete_task/<%= @the_task.id %>">
      Delete task
    </a>
  </div>
</div>

<div>
  <h1>
    Task #<%= @the_task.id %> details
  </h1>
</div>

<div>
  <div>
    <h2>
      Edit task
    </h2>

    <form action="/modify_task/<%= @the_task.id %>"  method="post" >
      <div>
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body"><%= @the_task.body %></textarea>
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status" value="<%= @the_task.status %>">
      </div>

      <label for="status_box">
        Status
      </label>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="status_box" name="query_status" value="<%= @the_task.status %>">
          Status
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item">Not yet started</a></li>
          <li><a class="dropdown-item">In progress</a></li>
          <li><a class="dropdown-item">Completed</a></li>
        </ul>
      </div>

      <div>
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @the_task.user_id %>">
      </div>

      <button>
        Update task
      </button>
    </form>
  </div>
</div>

<hr>
