<div>
  <div>
    <h1>
      Watch #<%= @the_watch.id %> details
    </h1>

    <div>
      <div>
        <a href="/watches">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_watch/<%= @the_watch.id %>">
          Delete watch
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Body
      </dt>
      <dd>
        <%= @the_watch.body %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @the_watch.status %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_watch.user_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_watch.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_watch.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit watch
    </h2>

    <form action="/modify_watch/<%= @the_watch.id %>"  method="post" >
      <div>
        <label for="body_box">
          Body
        </label>

        <input type="text" id="body_box" name="query_body" value="<%= @the_watch.body %>">
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status" value="<%= @the_watch.status %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_watch.user_id %>">
      </div>

      <button>
        Update watch
      </button>
    </form>
  </div>
</div>

<hr>
